@import"./_variables.scss";   

body{
    background-color: rgba(color(light-primary), 1.0)
};

.first{
    padding: 5rem 10rem;
}; 

.flex-parent-1{
    display: flex;
    border: 0.25rem solid gray;
    justify-content: center;
};

.pic{
    height: 25rem;
    width: 25rem;
    border: 0.4rem solid silver;
};

.second{
    padding: 5rem 5rem;
};

.flex-parent-2{
    display: flex;
    height: 50rem;
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
};  

.flex-child1{
    display: flex;
    border: 0.25rem solid #D32F2F;
    height: auto;
    width: 25%;
};

.flex-child2{
    display: flex;
    border: 0.25rem solid gold;
    height: auto;
    width: 25%;
};

.flex-child3{
    display: flex;
    border: 0.25rem solid darkblue;
    height: auto;
    width: 25%;
};

.flex-child4{
    display: flex;
    border: 0.25rem solid darkgreen;
    height: auto;
    width: 25%;
};

.mini{
    display: flex;
    flex-direction: row;
};
 
.text{
    display: flex;
    font-size: 0.9rem;
};

.ginerva{
    display: flex;
};

#ginny{
    height: auto;
    width: 14rem;
};

#ginnypic{
    height: 25rem;
    width: auto;
    padding: 1rem;
};

.granger{
    display: flex;
};

#hermione{
    height: auto;
    width: 14rem;
};

#hermionepic{
    height: 25rem;
    width: auto;
    padding: 1rem;
};

.lovegood{
    display: flex;
};

#luna{
    height: auto;
    width: 14rem;
};

#lunapic{
    height: 25rem;
    width: auto;
    padding: 1rem;
};

