/* @import"./_variables.scss"; */

body{
    background-color: #9C27B0;
}

.first{
    padding: 5rem 30rem;
}

.second{
    padding: 1rem 25rem;
}

.flex-parent-1{
    display: flex;
    border: 0.25rem solid gray;
    justify-content: center;
};

.flex-parent-2{
    display: flex;
    border: 0.25rem solid white;
    height: 50rem;
}
 
.pic{
    height: 15rem;
    width: 15rem;
    border: 0.4rem solid silver;
}

.flex-child{
    display: flex;
    border: 0.25rem solid #D32F2F;
    height: auto;
    width: 17rem;
}